
* {
    box-sizing: border-box
}

body {
    width: 900px;
    margin: 0 auto;
    background-color: pink;
}

header, footer {
    text-align: center;
}

main {
    background-color: white;
    padding: 15px 20px;
    width: 750px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .top-bar {
    text-align: center;
}

#game-p {
    display: none;
}

#map {
    width: 550px;
    height: 500px;
    border: 2px solid black;
    background-image: url(/cute-map-game/img/mo-outlinev3.svg);
    background-size:  500px auto;
    background-position: center;
    background-repeat: no-repeat;

    position: relative;
}

.pin {
    width: 15px;
    height: 15px;
    background-color: white;
    border: 1.5px solid black;
    border-radius: 15px;
    position: absolute;
    cursor: pointer;
    transition-property: box-shadow, border-width;
    transition-duration: 0.2s, 0s;
}

.pin:hover, .pin:focus-visible {
    box-shadow: 0 0 0 10px rgba(255, 19, 203, 0.15);
    border-width: 2px;
}

.pin.selected {
    background-color: gray;
    cursor: initial;
}

.pin.selected:hover, .pin.selected:focus-visible {
    box-shadow: none;
}