
* {
    box-sizing: border-box;
}

body {
    width: 750px;
    height: 100vh;
    margin: 0 auto;
    background-color: rgb(253, 229, 229);
    position: relative;
    font-family: georgia;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer {
    text-align: center;
    color: gray;
    font-size: 0.9em;
}

footer a {
    color: gray;
    font-size: inherit;
}

footer a:hover, a:focus-visible {
    font-style: italic;
    color: gray;
}

main {
    padding: 15px 20px;
    width: 750px;
    margin: 0 auto;
}

.box-inner .top-bar {
    text-align: center;
}

.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
}

.top-bar > div {
    width: 125px;
    height: auto;
    border: 1.5px solid lightgray;
    padding: 5px;
    border-radius: 10px;
}

.top-bar > p, div p {
    margin: 0;
}

.lightgray {
    color: lightgray;
}

#game-p {
    display: none;
    margin: 25px 0;
    transition: filter 0.3s ease-in-out, filter 0.3s ease-in-out;
}

#map {
    width: 550px;
    height: 500px;
    border: 2px solid black;
    border-radius: 30px;
    background-color: #fff;
    background-image: url(/cute-map-game/img/mo-outlinev3.svg);
    background-size:  500px auto;
    background-position: center;
    background-repeat: no-repeat;

    position: relative;
    overflow: clip;
}

.pin {
    width: 15px;
    height: 15px;
    background-color: white;
    border: 1.5px solid black;
    border-radius: 15px;
    position: absolute;
    cursor: pointer;
    transition-property: box-shadow, border-width;
    transition-duration: 0.2s, 0s;
    padding: 3px;
    z-index: 5;
}

.pin:hover, .pin:focus-visible {
    box-shadow: 0 0 0 10px rgba(255, 19, 19, 0.1);
    border-width: 2px;
}

.pin.selected {
    background-color: lightgray;
    cursor: initial;
}

.pin.selected:hover, .pin.selected:focus-visible {
    box-shadow: none;
    border-width: 1.5px;
}

.pin-inside {
    background-color: black;
    width: 6.5px;
    height: 6.5px;
    border-radius: 6.5px;
}

.tooltip {
    opacity: 0;
    background: rgba(246, 137, 137, 0.42);
    width: auto;
    height: auto;
    border: 1.5px solid black;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    font-size: 0.9em;
    z-index: 10;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

.tooltip.fade {
    opacity: 0 !important;
}

#map:hover #cursor-tooltip {
    opacity: 1;
}

.pin.alert {
    background-color: rgb(229, 55, 55);
}

.pin.selected-red {
    background-color: rgb(229, 55, 55);
    cursor: initial;
}

.pin.selected-red:hover, .pin.selected-red:focus-visible {
    box-shadow: none;
    border-width: 1.5px;
}

.pin.selected-yellow {
    background-color: rgb(229, 185, 55);
    cursor: initial;
}

.pin.selected-yellow:hover, .pin.selected-yellow:focus-visible {
    box-shadow: none;
    border-width: 1.5px;
}





main { 
    background: url(/cute-map-game/img/back01.gif); /* cred to foollovers */
    border-radius: 30px;
    box-sizing: border-box;
    padding: 15px;
}

.box-inner {
    background: white; 
    border-radius: 20px; 
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#startBtn-p {
    text-align: center;
    height: 600.89px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

header {
    margin-left: 1.25em;
}

header div {
    background-color: white;
    border-radius: 12.5px 12.5px 0px 0px;
    padding: 7.5px 15px 5px 12.5px;
    text-decoration: none;
    /* position: relative;
    top: 0px;
    left: 1.5em; */
    margin-left: 0.25em;
    z-index: -10px;
    display: inline-flex;
    width: fit-content;
    flex-direction: row;
    gap: 7.5px;
    vertical-align: bottom;
}

header div:nth-child(2) {
    background-color: rgb(242, 242, 242);
}

header > div > h1, a {
    margin: 0;
    display: inline;
    font-weight: normal;
    font-size: 0.9em;
    color: black;
    text-decoration: none;
}

header > div > img {
    filter: saturate(75%) brightness(110%);
    display: inline;
    height: 17.5px;
}

#skipBtn {
    color: rgb(161, 161, 161);
    cursor: pointer;
    letter-spacing: -0.3em;
    font-size: 0.8em;
    vertical-align: top;
}

::selection {
    color: gray;
    background-color: rgb(253, 229, 229);
}

::-moz-selection {
    color: gray;
    background-color: rgb(253, 229, 229);
}

footer ::selection, #end-p ::selection {
    color: black;
    background-color: white;
}

footer ::-moz-selection, #end-p ::-moz-selection {
    color: black;
    background-color: white;
}

#end-p {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    text-align: center;
    width: 350px;
    height: 318px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background-color: rgb(253, 229, 229);
    filter: drop-shadow(15px 20px 20px rgb(153, 153, 153));
    border-radius: 30px;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

#end-p.fade {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

#end-p > p > span {
    font-weight: bold;
}