
* {
    box-sizing: border-box;
}

body {
    width: 900px;
    margin: 0 auto;
    background-color: pink;
    position: relative;
}

header, footer {
    text-align: center;
}

main {
    background-color: white;
    padding: 15px 20px;
    width: 750px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .top-bar {
    text-align: center;
}

#game-p {
    display: none;
}

#map {
    width: 550px;
    height: 500px;
    border: 2px solid black;
    background-image: url(/cute-map-game/img/mo-outlinev3.svg);
    background-size:  500px auto;
    background-position: center;
    background-repeat: no-repeat;

    position: relative;
}

.pin {
    width: 15px;
    height: 15px;
    background-color: white;
    border: 1.5px solid black;
    border-radius: 15px;
    position: absolute;
    cursor: pointer;
    transition-property: box-shadow, border-width;
    transition-duration: 0.2s, 0s;
    padding: 3px;
    z-index: 5;
}

.pin:hover, .pin:focus-visible {
    box-shadow: 0 0 0 10px rgba(255, 19, 86, 0.1);
    border-width: 2px;
}

.pin.selected {
    background-color: lightgray;
    cursor: initial;
}

.pin.selected:hover, .pin.selected:focus-visible {
    box-shadow: none;
    border-width: 1.5px;
}

.pin-inside {
    background-color: black;
    width: 6.5px;
    height: 6.5px;
    border-radius: 6.5px;
}

#cursor-tooltip {
    opacity: 0;
    background: rgba(255, 19, 86, 0.1);
    width: auto;
    height: auto;
    border: 1.5px solid lightgray;
    position: absolute;
    top: 0;
    left: 0;
    padding: 2.5px;
    font-size: 0.9em;
    z-index: 10;
}

#map:hover #cursor-tooltip {
    opacity: 1;
}

.pin.alert {
    background-color: rgb(229, 55, 55);
}

.pin.selected-red {
    background-color: rgb(229, 55, 55);
    cursor: initial;
}

.pin.selected-red:hover, .pin.selected-red:focus-visible {
    box-shadow: none;
    border-width: 1.5px;
}

.pin.selected-yellow {
    background-color: rgb(229, 185, 55);
    cursor: initial;
}

.pin.selected-yellow:hover, .pin.selected-yellow:focus-visible {
    box-shadow: none;
    border-width: 1.5px;
}